config.yaml

credentials/
data/


.pytest_cache/
.DS_Store

**/__pycache__
**/.venv
**/.classpath
**/.env
**/.git
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/app/main_psycopg.py
**/.env

